@require '../node_modules/nprogress/nprogress.css'

.container
  margin-top: 100px
  font-size: 1.2em
  font-family: Lato, Helvetical, Arial
  font-weight: 300

.button
  min-width: 38px
  padding: 0 10px
  color: #aaa
  border: solid 1px #ddd

#nprogress
  .bar
    background: #e95d4f;
  .peg
    box-shadow: 0 0 10px #e95d4f, 0 0 5px #e95d4f;
